.search-box {
  background-color: lavender;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  gap: 15px;
}
.search-box h1 {
  font-size: 3rem;
  font-weight: 400;
}
.search-input-div {
  position: relative;
}

.search-input {
  width: 28rem;
  height: 2.5rem;
  border-radius: 3px;
  outline: none;
  border: 1px solid black;
  box-shadow: 1px 2px 6px #958c8c80;
  padding-left: 15px;
}
.input-arrow {
  position: absolute;
  width: 15px;
  right: 10px;
  top: 11px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 80px 0px;
}
.card {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d1dbe7;
  border-radius: 12px;
  background-color: #f4f6f8;
  cursor: pointer;
  transition: 0.2s;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 1px 0px 5px #958c8c45;
}
.card h4 {
  color: #38373a;
  border-bottom: 1px solid #d1dbe7;
  padding: 12px;
}
.card p {
  padding: 5px 12px;
}
